body,p{margin:0; padding:0;}

.huojian_bj{background-color:#142441; height:100%}
.huojian_wrap{ width:202px; margin:0 auto; padding-top:182px; text-align:center; line-height:50px;}
.huojian{
position:absolute;
top:50px;
left:64px;
background-image:url(../images/m1-man.32.png); background-repeat:repeat-x; height:163px; width:70px;
margin:0 auto;
animation:huojian 0.2s;
-webkit-animation:huojian 0.2s;
animation-timing-function:steps(3,start);
-webkit-animation-direction:alternate;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
@keyframes huojian{
0% { background-position:0px 0px;}
100% { background-position:210px 0px;}
}
.button{ width:160px; height:42px; outline:none; border:1px solid #d5eefe; border-radius:26px; color:#d5eefe; background:none;cursor:pointer;
animation:btn 0.4s;
-webkit-animation:btn 0.4s;
}
@keyframes btn{
0% {width:160px; height:42px;}
30%{width:222px; height:30px;}
40%{width:137px; height:51px;}
55%{width:170px; height:36px;}
65%{width:163px; height:45px;}
75%{width:149px; height:38px;}
95%{width:169px; height:40px;}
100%{width:160px; height:42px;}
}
.section div{display: none;}
.section.active div{display: block;}
.plan_wrap{ display:block; width:130px; height:16px; margin:0 auto; padding:3px; border-radius:25px; background-color:#000017;}
.plan{ height:16px;border-radius:25px;background-color:#036;}
.plan_text{ height:15px; line-height:15px; text-align:center; color:#d5eefe; margin:5px;}


.star1,.star2,.star3,.star4,.star_bai{position:absolute; width:10px; height:10px; background-image:url(../images/loading-imp.32.png); background-repeat:no-repeat;}
.star1{ background-position:-82px 0; left:125px; top:37px}
.star2{ background-position:-82px 0; left:50px; top:88px}
.star3{ background-position:-82px -34px; left:45px; top:177px}
.star4{ background-position:-82px -34px; left:145px; top:160px}
.star_bai{ background-position:-82px -17px; left:150px; top:100px}

.flash{animation:flash 3s;-webkit-animation:flash 3s;animation-iteration-count:infinite;}
@keyframes flash{
0% {transform:scale(1);}
25%{transform:scale(.9);}
50%{transform:scale(1.3);}
75%{transform:scale(1);}
100%{transform:scale(1.1);}
}
.flash1{animation:flash1 4s;-webkit-animation:flash1 4s;animation-iteration-count:infinite;}
@keyframes flash1{
0% {transform:scale(1.3);}
25%{transform:scale(1);}
50%{transform:scale(1.1);}
75%{transform:scale(1);}
100%{transform:scale(.9);}
}



.first_page{ width:250px; height:350px; padding-top:128px; margin:0 auto; position:relative;}
.h1,.star_b,.star_l,.flag,.rocket_red,.fire_balloon,.stellar1,.stellar2,.stellar3,.stellar4,.stellar5,.design,.innovate{background-image:url(../images/m-animate-1-imp.32.png); background-repeat:no-repeat;}
.h1{ width:210px; height:34px; background-position:-369px -78px; margin:0 auto;}
.cellphone,.star_b,.star_l,.flag,.rocket_red,.fire_balloon,.cellphone1,.stellar1,.stellar2,.stellar3,.stellar4,.stellar5,.design,.innovate,.praise,.cellphone2,.aircraft,.bee,.wave,.wave_wrap,.plane,.fleck1,.fleck2,.fleck3,.fleck4,.fleck5,.fleck6,.fleck7,.fleck8,.fleck9,.fleck10,.cellphone3,.four_circle1,.four_circle2,.four_circle3,.fire_balloon1,.house,.cellphone4,.zoulu1,.shadow,.cloud,.rest{ position:absolute;}
.cellphone{ background:url(../images/m2-phone.32.png) center no-repeat; width:121px; height:245px; top:182px; left:65px;animation:cellphone 0.3s;-webkit-animation:cellphone 0.3s;z-index:2;opacity:0;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;animation-delay:1.5s;-webkit-animation-delay:1.5s; }
@keyframes cellphone{
0%{ top:144px;opacity:1;}
90%{ top:187px;opacity:1;}
100%{top:182px;opacity:1;}
}
.star_b{ width:230px; height:144px; background-position:0px 0px; left:10px; bottom:0px; z-index:1;animation:star_b 3s;-webkit-animation:star_b 4s;}
@keyframes star_b{
23%{bottom:0px;}
25%{bottom:-8px;}
28%{bottom:0px;}
44%{bottom:0px;}
47%{ bottom:-10px;}
49%{ bottom:0px;}
}
.star_l{ width:33px; height:32px; top:242px; left:0px;background-position:-382px 0px;animation:star_l 3s;-webkit-animation:star_l 3s;animation-iteration-count:infinite;}
@keyframes star_l{
25%{transform:scale(1);}
50%{transform:scale(1.1);}
75%{transform:scale(1);}
100%{transform:scale(.9);}
}
.flag{ width:39px; height:85px; background-position:-301px 0px; top:336px; left:15px; z-index:2;opacity:0;
animation:flag 0.3s;-webkit-animation:flag 0.3s;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:.7s;-webkit-animation-delay:.7s;}
@keyframes flag{
0%{ top:323px;opacity:1;}
90%{ top:350px;}
100%{top:343px;opacity:1;}
}
.rocket_red{width:38px; height:78px;background-position:-343px 0px;top:343px; left:195px;z-index:2;opacity:0;
animation:rocket_red 0.3s;-webkit-animation:rocket_red 0.3s;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:0.7s;-webkit-animation-delay:0.7s;}
@keyframes rocket_red{
0%{ top:323px;opacity:1;}
90%{ top:350px;}
100%{top:343px;opacity:1;}
}
.fire_balloon{ width:68px; height:98px; background-position:-231px 0px; top:169px; left:165px; z-index:3;opacity:0;
animation:fire_balloon 3.5s;-webkit-animation:fire_balloon 3.5s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
animation-delay:2s;-webkit-animation-delay:2s;}
@keyframes fire_balloon{
0%{ top:169px;opacity:1;}
50%{ top:179px;}
100%{top:169px;opacity:1;}
}

.project{ width:287px; height:350px;margin:0 auto; padding-top:137px; position:relative;}
.cellphone1,.cellphone2,.cellphone3{ background:url(../images/m3-phone.32.png) center no-repeat; width:122px; height:247px; top:137px; left:83px;animation:cellphone1 0.3s;-webkit-animation:cellphone1 0.3s;z-index:2;opacity:0;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;animation-delay:1s;-webkit-animation-delay:1s; }
@keyframes cellphone1{
0%{ top:116px;opacity:1;}
90%{ top:143px;opacity:1;}
100%{top:137px;opacity:1;}
}
.stellar1{ width:40px; height:40px; top:193px; background-position:-286px -98px;
stellar1 0.3s;-webkit-animation:stellar1 0.3s;
animation-delay:.5s;-webkit-animation-delay:.5s;opacity:0;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
}
@keyframes stellar1{
0%{opacity:1;}
90%{opacity:1;}
100%{opacity:1;}
}
.stellar2{ width:32px; height:30px; top:150px; left:216px; background-position:-382px -32px;
stellar2 0.3s;-webkit-animation:stellar2 0.3s;
animation-delay:.9s;-webkit-animation-delay:1.5s;opacity:0;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
}
@keyframes stellar2{
0%{opacity:1;}
90%{opacity:1;}
100%{opacity:1;}
}
.stellar3{ width:51px; height:44px; top:208px; left:236px; background-position:-230px -98px;
stellar3 0.3s;-webkit-animation:stellar3 0.3s;
animation-delay:1.9s;-webkit-animation-delay:1.9s;opacity:0;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
}
@keyframes stellar3{
0%{opacity:1;}
90%{opacity:1;}
100%{opacity:1;}
}
.stellar4{ width:42px; height:40px; top:291px; right:38px; background-position:-328px -85px;
stellar4 0.3s;-webkit-animation:stellar4 0.3s;
animation-delay:2.4s;-webkit-animation-delay:2.4s;opacity:0;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
}
@keyframes stellar4{
0%{opacity:1;}
90%{opacity:1;}
100%{opacity:1;}
}
.stellar5{ width:31px; height:26px; top:357px; right:0px; background-position:-417px -0px;
stellar5 0.3s;-webkit-animation:stellar5 0.3s;
animation-delay:2.8s;-webkit-animation-delay:2.7s;opacity:0;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
}
@keyframes stellar5{
0%{opacity:1;}
90%{opacity:1;}
100%{opacity:1;}
}
.design{ width:165px; height:28px; background-position:-450px -32px; top:400px; left:60px;
animation:design 0.4s;-webkit-animation:design 0.4s;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1s;-webkit-animation-delay:1s;opacity:0;
}
@keyframes design{
0%{top:380px;opacity:1;}
100%{top:400;opacity:1;}
}
.innovate{ width:208px; height:12px; top:434px; left:38px; background-position:-383px -64px;
animation:innovate 0.3s ease-in;-webkit-animation:innovate 0.3s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:0.8s;-webkit-animation-delay:0.8s;opacity:0;
}
@keyframes innovate{
0%{top:380px;opacity:1;}
100%{top:434px;opacity:1;}
}
.praise{width:61px; height:28px; top:454px; left:110px; background:url(../images/mlike.32.png) center no-repeat;
animation:praise .5s ease-in;-webkit-animation:praise .5s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:0.8s;-webkit-animation-delay:0.8s;
}
@keyframes praise{
0%{ top:434px}
25%{top:454px}
50%{top:464px}
75%{top:444px}
100%{top:454px}
}
path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear;
  animation: dash 5s linear;
  animation-delay:.5s;-webkit-animation-delay:.5s;
  animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.fleck1{ top:299px; left:60px; width:8px; height:8px; border-radius:99px; background-color:#FFC028;
animation:fleck1 4s infinite;-webkit-animation:fleck1 4s infinite;opacity:1;
}
@keyframes fleck1{
0%{opacity:0;transform:scale(1);}
50%{opacity:1;transform:scale(1.2);}
100%{opacity:0;transform:scale(1);}
}
@keyframes fleck2{
0%{opacity:1;transform:scale(1);}
50%{opacity:0;transform:scale(1.2);}
100%{opacity:1;transform:scale(1);}
}
.fleck2{top:321px; left:18px; width:6px; height:6px; border-radius:99px; background-color:#FFC028;
animation:fleck2 4s infinite;-webkit-animation:fleck2 4s infinite;opacity:1;}
.fleck3{top:371px; left:57px; width:2px; height:2px; border-radius:99px; background-color:#FFC028;
animation:fleck1 4s infinite;-webkit-animation:fleck1 4s infinite;opacity:1;}
.fleck4{top:269px; left:212px; width:5px; height:5px; border-radius:99px; background-color:#FFC028;
animation:fleck2 4s infinite;-webkit-animation:fleck2 4s infinite;opacity:1;}
.fleck5{top:177px; left:269px; width:6px; height:6px; border-radius:99px; background-color:#FFC028;
animation:fleck1 4s infinite;-webkit-animation:fleck1 4s infinite;opacity:1;}
.fleck6{top:367px; left:226px; width:5px; height:5px; border-radius:99px; background-color:#FFC028;
animation:fleck2 4s infinite;-webkit-animation:fleck2 4s infinite;opacity:1;}
.fleck7{top:190px; left:54px; width:10px; height:10px; border-radius:99pxl; background:url(../images/m-animate-1-imp.32.png) -628px -35px no-repeat;animation:fleck2 4s infinite;-webkit-animation:fleck2 4s infinite;opacity:1;}



.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s linear;
  animation: dash 3s linear;
  animation-delay:1.3s;-webkit-animation-delay:1.3s;
  animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.cellphone2{background:url(../images/m4-phone.32.png) center no-repeat;}
.section3 .design,.section3 .innovate,.aircraft,.bee,.wave,.plane,.fleck8,.fleck9,.fleck10,.section4 .design,.section4 .innovate,.four_circle1,.four_circle2,.four_circle3,.fire_balloon1{ background-image:url(../images/m-animate-2-imp.32.png); background-repeat:no-repeat;}
.section3 .design{ background-position:-723px -61px; left:80px;}
.section3 .innovate{background-position:-685px -120px;}
.aircraft{ width:90px; height:75px; left:242px; top:110px; background-position:-303px -0px;
animation:aircraft .5s ease-in;-webkit-animation:aircraft .5s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:0.8s;-webkit-animation-delay:0.8s;opacity:0;
}
@keyframes aircraft{
0%{ left:242px;opacity:1;}
100%{ left:215px;opacity:1;}
}
.bee{ width:41px; height:31px; left:-20px; top:230px; background-position:-387px -77px;
animation:bee .3s ease-in;-webkit-animation:bee .3s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1.7s;-webkit-animation-delay:1.7s;opacity:0;
}
@keyframes bee{
0%{ left:-20px;opacity:1;}
100%{ left:17px;opacity:1;}
}
.wave{ width:43px; height:55px; bottom:0px; right:0px; background-position:-303px -77px;}
.wave_wrap{ top:148px; left:195px; width:86px; height:110px;
animation:wave 2s infinite;-webkit-animation:wave 2s infinite;
animation-delay:2s;-webkit-animation-delay:2s;opacity:0;
transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);}
@keyframes wave{
0%{transform:rotate(-10deg);-webkit-transform:rotate(-10deg);opacity:1;}
50%{transform:rotate(30deg);-webkit-transform:rotate(30deg);}
100%{transform:rotate(-10deg);-webkit-transform:rotate(-10deg);opacity:1;}
}
.plane{ width:66px; height:62px; top:325px; left:-10px; background-position:-432px 0px;
animation:plane .3s;-webkit-animation:plane .3s;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1s;-webkit-animation-delay:1s;opacity:0; z-index:3;}
@keyframes plane{
from{transform:scale(0.7); -webkit-transform:scale(0.7);opacity:1;}
to{transform:scale(1); -webkit-transform:scale(1); left:49px;opacity:1;}
}
.section3 .fleck2{top:240px; left:222px; width:6px; height:6px; border-radius:99px; background-color:#FFC028;
animation:fleck1 4s infinite;-webkit-animation:fleck1 4s infinite;opacity:1;}
.fleck8,.fleck9,.fleck10{ background-position:-905px 0px; width:7px; height:7px;}
.fleck8{ top:182px; left:61px;animation:fleck2 4s infinite;-webkit-animation:fleck2 4s infinite;opacity:1;}
.fleck9{ top:317px; left:31px;animation:fleck1 4s infinite;-webkit-animation:fleck1 4s infinite;opacity:1;}
.fleck10{ top:352px; left:237px;animation:fleck2 4s infinite;-webkit-animation:fleck2 4s infinite;opacity:1;}


.individuality{width:256px; height:350px; padding-top:128px; margin:0 auto; position:relative; }
.cellphone3{background:url(../images/m5-phone.32.png) center no-repeat; width:179px; height:243px; left:36px;}
.section4 .design{ background-position:-728px -95px; width:110px; height:22px; left:65px;}
.section4 .innovate{ background-position:-707px -26px;}
.four_circle1{ width:87px; height:83px; background-position:-115px 0px; 
animation:four_circle1 .2s ease-in;-webkit-animation:four_circle1 .2s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1.3s;-webkit-animation-delay:1.3s;opacity:0;
transform: scale(0.7);-webkit-transform:scale(0.7);
top:272px;left:30px;
}
@keyframes four_circle1{
0%{transform: scale(0.7);-webkit-transform:scale(0.7);opacity:1; z-index:3;}
100%{transform: scale(1);-webkit-transform:scale(1);opacity:1;top:262px; left:0; z-index:3;}
}
.four_circle2{ width:81px; height:81px; background-position:-213px -2px;
animation:four_circle2 .2s ease-in;-webkit-animation:four_circle2 .2s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1.5s;-webkit-animation-delay:1.5s;opacity:0;
transform: scale(0.7);-webkit-transform:scale(0.7);
top:227px;right:20px;
}
@keyframes four_circle2{
0%{transform: scale(0.7);-webkit-transform:scale(0.7);opacity:1; z-index:3;}
100%{transform: scale(1);-webkit-transform:scale(1);opacity:1;top:237px; right:0px;}
}
.four_circle3{ width:105px; height:112px; background-position:0px 0px;
animation:four_circle3 .2s ease-in;-webkit-animation:four_circle3 .2s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1.7s;-webkit-animation-delay:1.7s;opacity:0;
transform: scale(0.7);-webkit-transform:scale(0.7);
top:115px; left:20px;
}
@keyframes four_circle3{
0%{transform: scale(0.7);-webkit-transform:scale(0.7);opacity:1; z-index:3;}
100%{transform: scale(1);-webkit-transform:scale(1);opacity:1;top:125px; left:0; z-index:3;}
}

.fire_balloon1{ width:37px; height:48px; background-position:-348px -76px;
animation:fire_balloon1 .4s ease-in;-webkit-animation:fire_balloon1 .4s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1.9s;-webkit-animation-delay:1.9s;opacity:0;
top:390px; left:198px;
}
@keyframes fire_balloon1{
0%{opacity:0;}
100%{opacity:1;top:356px; left:198px;}
}

.house,.shadow,.section5 .design,.section5 .innovate,.cloud,.rest{background-image:url(../images/m-animate-3-imp.32.png); background-repeat:no-repeat;}
.alveole_wrap{ background:#97C96A url(../images/2016-07-28_105840.png) top repeat-x; width:100%; height:100%;}
.alveole{width:297px; height:350px; padding-top:128px; margin:0 auto; position:relative;}
.house{ width:297px; height:105px; background-position:-15px 0px; top:177px;}
.cellphone4{ background:url(../images/m6-phone.32.png) center no-repeat; width:179px; height:243px; left:57px; top:62px;animation:cellphone4 0.3s;-webkit-animation:cellphone4 0.3s;z-index:2;opacity:0;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;animation-delay:0.8s;-webkit-animation-delay:0.8s; }
@keyframes cellphone4{
0%{ top:62px;opacity:1;}
90%{ top:89px;opacity:1;}
100%{top:82px;opacity:1;}
}

.cloud{ width:50px; height:25px; top:86px; left:-31px; background-position:-312px -106px;
animation:cloud 1s linear;-webkit-animation:cloud 1s linear;z-index:2;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
@keyframes cloud{
0%{ left:-31px;}
100%{left:31px;}
}
.rest{ width:57px; height:57px; right:0px; top:123px; background-position:-538px 0px;
animation:rest 0.1s linear;-webkit-animation:rest 0.1s linear;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;animation-delay:2s;-webkit-animation-delay:2s;opacity:0;
}
@keyframes rest{
0%{ transform: scale(0.7);right:10px;top:133px;opacity:1;}
100%{ transform: scale(1);right:0px;top:123px;opacity:1;}
}

.zoulu1{ left:140px;top:209px;
animation:zoulu1 1.8s linear;
-webkit-animation:zoulu1 1.8s linear;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;opacity:1;
}
@keyframes zoulu1{
0% {left:140px;opacity:1;}
100% {left:207px;opacity:0.5;}
}
.zoulu{ background:url(../images/mrunner.32.png) left top no-repeat; width:60px; height:67px;
animation:zoulu 0.5s infinite;
-webkit-animation:zoulu 0.5s infinite;
animation-timing-function:steps(8,start);
-webkit-animation-direction:alternate;
}
@keyframes zoulu{
0% { background-position:left 0px; left:0px;}
100% { background-position: right 0px; left:100px;}
}
.shadow{ width:103px; height:8px; top:320px; left:69px; background-position:-597px -46px;}
.section5 .design{ width:112px; height:22px; background-position:-149px -109px; top:345px; left:89px;
animation:design1 0.4s;-webkit-animation:design1 0.4s;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:1s;-webkit-animation-delay:1s;opacity:0;
}
@keyframes design1{
0%{top:325px;opacity:1;}
100%{top:245;opacity:1;}
}
.section5 .innovate{ width:258px; height:14px; top:377px; left:16px; background-position:-385px -128px;
animation:innovate1 0.3s ease-in;-webkit-animation:innovate1 0.3s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:0.8s;-webkit-animation-delay:0.8s;opacity:0;
}
@keyframes innovate1{
0%{top:323px;opacity:1;}
100%{top:377px;opacity:1;}
}
.section5 .praise{width:61px; height:28px; top:401px; left:110px; background:url(../images/mlike.32.png) center no-repeat;
animation:praise1 .5s ease-in;-webkit-animation:praise1 .5s ease-in;
animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;
animation-delay:0.8s;-webkit-animation-delay:0.8s;
}
@keyframes praise1{
0%{ top:381px}
25%{top:401px}
50%{top:411px}
75%{top:391px}
100%{top:401px}
}








